__pycache__/
snowdragon.egg-info/
.vscode
.ipynb_checkpoints
data_handling/poisson_features.py

output/plots_data/normalized/corr_heatmap_all.pdf
output/plots_data/normalized/corr_heatmap_all.svg
output/plots_data/normalized/tsne2d.pdf
output/plots_data/normalized/tsne2d.svg
output/plots_data/original/overview_data_old.png
output/plots_data/original/overview_data_updatedaxis.pdf
output/plots_data/original/overview_data_updatedaxis.svg
output/plots_results/*.pdf
output/plots_results/*.svg
output/plots_results/bogplot_comparison.png
output/plots_results/comparison_3_profiles_ids.png
output/plots_results/decision_tree_1.*
output/predictions.zip

output/evaluation/*
!output/evaluation/.gitkeep
output/plots_data/*
!output/plots_data/.gitkeep
output/plots_results/*
!output/plots_results/.gitkeep
output/predictions/*
!output/predictions/.gitkeep
output/scores/*
!output/scores/.gitkeep

models/stored_models/*
!models/stored_models/.gitkeep
visualization/storage/*
!visualization/stored_models/.gitkeep
